<html>
   <head>   
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Socket.IO chat</title>
   </head>
   <body>
      <h1>ChatApp</h1>
      <ul id="messages"></ul>
      <form id="form" action="">
         <input type="text" id="input" placeholder="Type a message" autocomplete="off" />
         <button id="send">
            <i id="sendIcon" class="fa fa-paper-plane"></i>
         </button>
      </form>
      <div hidden id="username"><%= username %></div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="clientSocket.js"></script>
   </body>
</html>