<html>
    <head>
        <link rel="stylesheet" type="text/css" href="login.css">
        <title>Socket.IO chat</title>
    </head>
    <body>
        <h2>ChatApp Login</h2>
        <% if (messages.error) { %> 
            <%= messages.error %>
        <% } %>
        <form action="/login" method="POST">
            <b>Email</b>
            <input name="email" type="text" placeholder="Type your password" autocomplete="off">
            <b>Password</b>
            <input name="password" type="text" placeholder="Type your password" autocomplete="off">
            <button type="submit">Login</button>
        </form> 
        <div id="prompt-register">Don't have an account? Click <a href="/register">here</a> to register!</div>
    </body>
</html>