<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="login.css">
        <title>Socket.IO chat</title>
    </head>
    <body>
        <h2>ChatApp Register</h2>
        <form action="/register" method="POST">
            <b>Username</b>
            <input name="username" type="text" placeholder="Type your name" autocomplete="off">
            <b>Password</b>
            <input name="password" type="text" placeholder="Type your password" autocomplete="off">
            <button>Register</button>
        </form> 
    </body>
</html>