<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="login-register.css">
        <title>Socket.IO chat</title>
    </head>
    <body>
        <h2>ChatApp Register</h2>
        <form action="/register" method="POST">
            <b>Username</b>
            <input name="username" type="text" placeholder="Type your name" autocomplete="off">
            <b>Email</b>
            <input name="email" type="text" placeholder="Type your name" autocomplete="off">
            <b>Password</b>
            <input name="password" type="text" placeholder="Type your password" autocomplete="off">
            <button type="submit">Register</button>
        </form> 
        <div id="jump-to-login-register">Already have an account? Click <a href="/login">here</a> to login!</div>
    </body>
</html>